.ramka{
   width:300px;
   height:100px;
   border:solid 3px black;
   background-color:aqua;
   padding-left:20px;
}

.hol{
   padding-left:100px;
}

.ramka2{
   width:300px;
   height:100px;
   border:solid 3px black;
   background-color:yellow;
   padding-left:20px;
}
